
<form [formGroup]= "profileForm">
  <h1 mat-dialog-title>sign-in:</h1>
  <p>
    <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput #name maxlength="10" placeholder="SparklingP" formControlName= "name" required>
        <mat-hint align="end">{{name.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
  </p>
  <p>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput #email placeholder="pat@example.com" formControlName= "email" required>
        <mat-error *ngIf= "profileForm.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
  </p>

  <div mat-dialog-actions>
    <button mat-button (click) = "onNoClick()">Cancel</button>
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary"  type="submit" [disabled]= "!profileForm.valid" [mat-dialog-close]= "profileForm.value">Submit</button>
  </div>
</form>

