<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Sparkling Pointer Blogs</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="search-icon" aria-hidden="icon-button with search icon">
      <mat-icon>search</mat-icon>
    </button>

    <p> welcome! {{displayUserName? displayUserName : "Guest"}}</p>

    <button mat-icon-button class="login-icon" aria-label="icon-button with login icon"
          (click) = "openDialog()"
          *ngIf = "!isSignedIn">
      <mat-icon > login </mat-icon>
    </button>

    <button mat-icon-button class="profile-icon" aria-hidden="icon-button with profile icon"
              *ngIf = "isSignedIn">
        <mat-icon>face</mat-icon>
    </button>
</mat-toolbar>

<hr class="solid" style="color: black">
