<mat-toolbar class="mat-elevation-z2">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)= "onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Sparkling Pointer Blogs</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="search-icon" aria-hidden="icon-button with search icon">
      <mat-icon>search</mat-icon>
    </button>

    <p> welcome! {{displayUserName? displayUserName : "Guest"}}</p>

    <button mat-icon-button class="login-icon" aria-label="icon-button with login icon"
          (click) = "openDialog()"
          *ngIf = "!authStatus">
      <mat-icon > login </mat-icon>
    </button>

    <button mat-icon-button class="profile-icon" aria-hidden="icon-button with profile icon"
              *ngIf = "authStatus"
              [matMenuTriggerFor]= "profile">
        <mat-icon>face</mat-icon>
    </button>
    <mat-menu #profile="matMenu">
      <app-user-navbar></app-user-navbar>
    </mat-menu>
</mat-toolbar>



