.example-spacer {
  flex: 1 1 auto;
}

button {
  background-color: white;
  border:0;
}

.mat-toolbar{
  background-color:white;
  display:float;
  margin-top:0;
}

hr{
  margin-top: 0;
  margin-bottom: 0;
}
