.example-spacer {
  flex: 1 1 auto;
}

button {
  background-color: white;
  border:0;
}

.mat-toolbar{
  background-color:white;
  top:0;
  position: fixed;
  border-bottom: 1px, black;
  z-index: 2;
}

.hr{
  top: 0;
  margin-bottom: 0;
  position: fixed;
  color: black
}
