.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.example-full-width {
  width: 100%;
}


.mat-dialog-actions{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-stroked-button {
  margin-right: 10px;
}
