<button mat-menu-item routerLink="/write-new-post" routerLinkActive="activebutton">
  <mat-icon>create</mat-icon>
  <span class="nav-caption"  style="color: green">Write new post</span>
</button>
<button mat-menu-item>
  <mat-icon>notifications</mat-icon>
  <span class="nav-caption">Notifications</span>
</button>
<button mat-menu-item>
  <mat-icon>dashboard</mat-icon>
  <span class="nav-caption">My posts</span>
</button>
<hr>
<button mat-menu-item>
  <mat-icon>subscriptions</mat-icon>
  <span class="nav-caption">Subscriptions</span>
</button>
<button mat-menu-item>
  <mat-icon>favorite</mat-icon>
  <span class="nav-caption">Liked</span>
</button>
<button mat-menu-item>
  <mat-icon>bookmarks</mat-icon>
  <span class="nav-caption">Book Marked</span>
</button>
<button mat-menu-item>
  <mat-icon>watch_later</mat-icon>
  <span class="nav-caption">Read Later</span>
</button>
<button mat-menu-item>
  <mat-icon>history</mat-icon>
  <span class="nav-caption">History</span>
</button>
<hr>
<button mat-menu-item>
  <mat-icon>settings</mat-icon>
  <span class="nav-caption">Settings</span>
</button>
<button mat-menu-item>
  <mat-icon>exit_to_app</mat-icon>
  <span class="nav-caption">SignOut</span>
</button>
