<mat-nav-list>
<button mat-menu-item routerLink="" routerLinkActive= "activebutton">
  <mat-icon>home</mat-icon>
  <span class="nav-caption">Home</span>
</button>

<button mat-menu-item>
  <mat-icon>local_fire_department</mat-icon>
  <span class="nav-caption">Trending</span>
</button>


<hr>
<button mat-menu-item>
  <mat-icon>help</mat-icon>
  <span class="nav-caption">Help</span>

</button>
<button mat-menu-item>
  <mat-icon>feedback</mat-icon>
  <span class="nav-caption">Send feedback</span>
</button>
</mat-nav-list>
